<p id="notice"><%= notice %></p>

<p>
  <strong>Yen:</strong>
  <%= @money.yen %>
</p>

<p>
  <strong>Wallet:</strong>
  <%= @money.wallet_id %>
</p>

<%= link_to 'Edit', edit_money_path(@money) %> |
<%= link_to 'Back', money_index_path %>
