<h3>Item list</h3>

<table>
  <thead>
    <tr>
      <th>date</th>
      <th>Shop</th>
      <th>Name</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="item_list">
    <% @items.each do |item| %>
      <tr>
        <td><%= l(item.created_at, format: :long) %></td>
        <td><%= item.shop.name %></td>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
        <td><%= item.stock %></td>
        <td><%= item.comment %></td>
        <td> | <%= link_to 'Show', item %> | </td>
        <td><%= link_to 'Edit', edit_item_path(item) %> | </td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
