<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingAppTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
        <span>user: <%= current_user.name %></span>
        <%= link_to "profile_edit", edit_user_registration_path(current_user.id) %>
        <%= link_to "shop", shops_path %>
        <%= link_to "cart", add_item_cart_path(current_user.id) %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "新規登録", new_user_registration_path %>
        <%= link_to "ログイン", new_user_session_path %>
      <% end %>
      <%= yield %>
  </body>
</html>
